<title>Color</title>

<style>
body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}
</style>

<body>
    
    <script>
        if(document.location.href.indexOf("mode=") != -1){
            document.write("<p>Select mode:</p>");
            document.write("<p>"+decodeURIComponent(document.URL.substring(document.URL.indexOf("mode=")+5))+" option enabled</p>");
            //This is where the vulnerability is.
            //The source is document.URL
            //The sink is document.write

            let dmBtn = document.createElement("button");
            let lmBtn = document.createElement("button");

            dmBtn.innerHTML = "Dark Mode";
            lmBtn.innerHTML = "Light Mode";

            dmBtn.onclick= function(){
                var element = document.body;
                element.classList.toggle("dark-mode");
            }
            lmBtn.onclick= function (){
                var element = document.body;
                element.classList.toggle("light-mode");
            }

            document.body.appendChild(dmBtn);
            document.body.appendChild(lmBtn);
        }
    </script>
    
    <p>ENTER TITLE HERE</p>

    <p>Enter sample text here</p>
</body>
