<title>DOM-based XSS</title>
<b>Vulnerable Web Pages</b>
<p><a href="http://127.0.0.1:8000/name">Name page</a></p>
<p><a href="http://127.0.0.1:8000/lang?default=English">Langauge page</a></p>
<p><a href="http://127.0.0.1:8000/color?mode=Dark%20Mode">Mode page</a></p>

<b>Patched Web Pages</b>
<p><a href="http://127.0.0.1:8000/namePatched">Patched Name Page</a></p>
<p><a href="http://127.0.0.1:8000/langPatched?default=English">Patched Language Page</a></p>
<p><a href="http://127.0.0.1:8000/colorPatched?mode=Dark%20Mode">Patched Mode Page</a></p>
